<div class="about-page">
    <div class="container">
        <div  class="header">
            <h1>Change Negotiations can be less difficult if you have the correct info</h1>
            <p class="subtitle">Whenever I tell my friends back in Brazil that I’ve been laid off from work, I have to tell them the whole story of what Change Negotiations are here in Finland. There’s no such thing as that back home. 

                Being a foreigner living in Finland since 2019, Change Negotiations are just a part of everything I had to learn about labor laws in the country. The minutiae gets very complicated, and there are so many sources of information that one can easily get lost. 
                
                This is a thorny subject not only for expats like myself but also for my colleagues born and raised in Finland. My good friend Hannu is an example of that. 
                
                So, I decided to try and make things a little easier for everybody who works in the country and happens to be affected by this process. That’s how the Change Negotiations GPT came to be. My goal was twofold: to play around with the technology and try to get better answers about this daunting process.
                
                I created a CustomGPT using OpenAI’s model and fed it with a broad array of resources, including Finnish labor laws, court rulings, expert opinions, specific guides relevant to labor negotiations, and valuable online resources such as Suomi.fi, Tem.fi and Tyomarkkinatori.fi 
                
                So instead of scrambling around the internet for information, you can look for it more conversationally and naturally. 
                
                These custom models are not jaw-dropping yet. You could look for this information before, but then you would have to type in many prompts until you narrow it down to where you needed it., In that sense, there is a clear advantage here, but it’s not that life-changing right now. It feels like a step forward rather than a leap forward. 
                
                If you think something is missing or want to suggest more documentation to be fed on the model, please reach out. It will be great to hear from you. 
                
                I hope the GPT can be useful for you and that looking for information is one less thing to worry about in this tough time of Change Negotiations. </p>
             <b>Daniel Motta</b>
            </div>
        <div class="row">
         <div class="boxes">
             <div class="picture-boxes">
            Joel
          </div>
        <!-- Second box -->
          <div class="picture-boxes">
            <!-- Content for the second box -->
            Mark
          </div>
        </div>
      </div>
    </div>
  </div>
  